*{
    margin: 0;
    padding: 0;
    background:#262626;
}
.glowing{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.glowing span{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: inline-block;
    animation: animate 2s linear infinite;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border: 1px solid rgba(255,255,255,.4) ;

margin: 0 -2.5px;}
@keyframes animate{
    0%{
        color: #f00;
        box-shadow: 0 2px 10px rgba(255,0,0,.1) ;
        border: 1px solid rgba(255,0,0,.1);
    }
    33.3%{
        color: #ff0;
        box-shadow: 0 2px 10px rgba(255,0,0,.1) ;
        border: 1px solid rgba(255,0,0,.1);
    }
    66.6%{
        color: #0f0;
        box-shadow: 0 2px 10px rgba(0,255,0,.1) ;
        border: 1px solid rgba(0,255,0,.1);
    }
    100%{
        color: #f00;
        box-shadow: 0 2px 10px rgba(255,0,0,.1) ;
        border: 1px solid rgba(255,0,0,.1);
    }
}

.content p{
    margin-top: 30px;
    color:#fff;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
.bottom p{
    margin-top: 30px;
    color:#fff;
    font-size: 18px;
    padding: 10px;
}