#about{
	.row{
	margin-top: 50px;
	}
	.card{
	box-shadow: 5px 5px 5px 5px;
	}
}
%message {
	font-size: 70px;
	font-weight: bold;
	text-align:center;
	color: black;
	}
#about .row h1{
@extend %message;
}
.footer{
	margin-top: 100px;
	background-color:lightblue;
	.container .row{
	padding-top:30px;}
}
#skills{
	.row{
	margin-top: 50px;
	h1{
	@extend %message;}
	.col-sm{
	display: flex;
	flex-wrap: wrap;
		.card{
		box-shadow: 2px 5px 2px 5px;
		a{
		color:blue;
		}
		font-weight: bold;
		height:200px;
		text-align:center;
		display: flex;
		justify-content: center;
		font-size: 60px;
		}
		#card_odd{
		background: linear-gradient(to right,#4c72b0,#c0d1f0);
		}
		#card_even{
		background: linear-gradient(to right,#c0d1f0,#4c72b0);
		}

	}
	}
}
